h1 {
    font-size: 4em;
}

.box{
    display: flex;
    width: 130px;
    height: 130px;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #083b4c;
}

.my-bg-blue {
    background-color: #1389b2;
}

.my-bg-green {
    background-color: #0bd6a1;
}

.my-bg-yellow {
    background-color: #ffd166;
}

.my-bg-red {
    background-color: #f0466f;
}

.btn {
    position: relative;
    left: 47.15%;
}

.none {
    display: none;
}